<div class="starter-template">
	<h1>Search Youtube Vidoes</h1>
	<form class="form-inline" role="form">
	  <div class="form-group">
	    <input type="text" class="form-control  input-lg" id="search" placeholder="Search Youtube Video">
	  </div>
	  <button type="submit" class="btn btn-default  input-lg">Search</button>
	</form>
</div>

